-
.page-container.customer-gallery.u-subtle-bg.u-padding-top-lg.u-padding-bottom-xl
  .container
    .row
      .col-md-12.u-flex.u-flex-wrap-if-sm
        %h2.gallery-title
          Our Customers

        .gallery-filter
          %select{ name: 'filter-industry' }
            %option{ value: "" } Any Industry
            - data.customer_industries.each do |industry|
              %option{ value: industry.value }= industry.label

        .gallery-filter
          - solutions = data.organizations.collect{ |o| o.solutions }.flatten.uniq.compact.sort
          %select{ name: 'filter-solution' }
            %option{ value: "" } Any Solution
            - solutions.each do |solution|
              %option
                = solution

        .gallery-filter
          - topics = data.organizations.collect{ |o| o.topics }.flatten.uniq.compact.sort
          %select{ name: 'filter-topic' }
            %option{ value: "" } Any Topic
            - topics.each do |topic|
              %option
                = topic
  
      .col-sm-12
        .org-groups-container
          - data.organizations.sort{ |a, b| [(a.key?('asset_type') ? 0 : 1), a.name] <=> [(b.key?('asset_type') ? 0 : 1), b.name] }.each do |org|
            - if org.asset_link
              %a.icon-card.org-image.aspect-ratio-box.aspect-ratio-box--280-200.animation--tile{ href: org.asset_link, data: { "industry-type": org.industry_type, 'topics' => '||' + (org.topics ? org.topics.join('||') : '') + '||', 'solutions' => '||' + (org.solutions ? org.solutions.join('||') : '') + '||' } }
                = svg_image(org.logo, 'animation-image')
                - if org.asset_type
                  .icon-card-asset{ class: "icon-card-asset--#{org.asset_type}" }
            - else
              .icon-card.org-image.aspect-ratio-box.aspect-ratio-box--280-200{ data: { "industry-type": org.industry_type, 'topics' => '||' + (org.topics ? org.topics.join('||') : '') + '||', 'solutions' => '||' + (org.solutions ? org.solutions.join('||') : '') + '||' } }
                = svg_image(org.logo)
                - if org.asset_type
                  .icon-card-asset{ class: "icon-card-asset--#{org.asset_type}" }

    .row
      .col-sm-12
        %nav.text-center
          %ul.pagination.list-unstyled
