---
title: Professional Services
suppress_header: true
description: "Need help installing, upgrading, or migrating to GitLab? We can help with migration services or simply upgrading your current instance."
extra_css:
  - services.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .flex-container.flex-column.justify-center.align-center
    %h1 GitLab Professional Services
    %p Reduce time to market by accelerating the adoption of modern software delivery methods
    %p
      %a.btn.cta-btn.accent{ href: "#offerings" } Our offerings
      %a.btn.cta-btn.btn-white{ href: "#contactform" } Get in touch

.services-page#offerings
  .page-container.container.services-block
    .row
      .col-md-5.col-md-offset-1
        .service-item
          .service-icon
            = partial "includes/icons/configure-icon.svg"
          .service-name Implementation Services
          .service-description
            %p Optimize your organization's adoption of GitLab through our implementation services, designed to enable other necessary systems in your environment as they are used by your teams moving code from planning to monitoring.
            %a.btn.cta-btn.purple{ href: "/services/implementation" } Learn More

      .col-md-5
        .service-item
          .service-icon
            = partial "includes/icons/import-drag-icon.svg"
          .service-name Migration Services
          .service-description
            %p Your data is valuable, and making it readily available for immediate continuity is indispensable. Our migration services will facilitate your transition to GitLab by providing a clean dataset to resume operations at once.
            %a.btn.cta-btn.purple{ href: "/services/migration"} Learn More
            
      .col-md-5.col-md-offset-1
        .service-item
          .service-icon
            = partial "includes/icons/gitlab-icon.svg"
          .service-name Education
          .service-description
            %p Your teams are composed of highly proficient technical experts. With any comprehensive solution, there is a learning curve to consider. Our product specialists - technology professionals themselves - are available to train your teams to become efficient in GitLab quickly.
            %a.btn.cta-btn.purple{ href: "/services/education"} Learn More

      .col-md-5
        .service-item
          .service-icon
            = partial "includes/icons/code-1-icon.svg"
          .service-name Specialized Trainings
          .service-description
            %p "The whole is greater than the sum of its parts" - and this is particularly true in modern software development. GitLab enables all aspects intrinsic to software delivery, and we provide specialized training in these practices, such as CI/CD, version control, metrics, and more.
            %a.btn.cta-btn.purple{ href: "/services/specialized"} Learn More

.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
