@import "variables";

.header-container-content {

  img {
    max-height: 210px;
    padding: 20px;
  }

}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.fill-form {
  text-align: center;
  font-size: 23px;
  margin-top: 38px;
}

.action {
  margin: 3% 15% -12%;
}

.centered-form-info {
  margin-bottom: 2em;
  font-size: 20px;
  color: $color-primary;

  &.small-text {
    font-size: 14px;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.content-section {
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 1.55;

  h3 {
    line-height: 1.4;
  }

  .testimonial {

    h3 {
      color: $color-primary;
    }

    p {
      color: $color-gray-light;
    }

  }

  .testimonial-logo {
    width: 120px;
  }

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;

    &:hover {
      color: $color-primary-alt;
      text-decoration: underline;
    }
  }

  .cta-btn {
    text-decoration: none;
  }
}

.sales,
.free-trial {
  .content-container {
    padding-bottom: 100px;
    background-color: $color-white;
    border-top: 1px solid $landing-organization-color;
  }
}

.free-trial .centered-form {
  margin-bottom: 4em;

  .centered-form-info {
    padding: 15px;
  }
}

.confirmform {
  border: 1px solid $form-confirm-border;
  font-size: 16px;
  padding: 16px;
  text-align: center;
  background: $form-confirm-background;
  margin-bottom: 5em;
  color: $form-confirm-color;

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}
